body{
    background-size: cover;
    }
  
    a{
        float: right;
        
      
    }  
    .heading{
        font-size: 40px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        
    } 
    h3{
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    canvas{
        border-radius: 20px;
        border: 2px black;
        box-shadow: 2px 2px 2px white;
        margin-top: 200px;
    }